<div id="fb-root"></div>
<script>
  // Additional JS functions here
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '134123780068637', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
       // Additional initialization code such as adding Event Listeners goes here
       FB.Event.subscribe('auth.statusChange', handleStatusChange);

    };

   function handleStatusChange(response) {
     document.body.className = response.authResponse ? 'connected' : 'not_connected';

     if (response.authResponse) {
       console.log(response);

	   updateUserInfo(response);

     }
   }


    // Load the SDK's source Asynchronously
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>


<h1>Match my hours</h1>

 <div id="user-info"></div>
 <script>
   function updateUserInfo(response) {
     FB.api('/me', function(response) {
       document.getElementById('user-info').innerHTML = '<img src="https://graph.facebook.com/' + response.id + '/picture">' + response.name;
     });
   }
 </script>

 <div id="login">
   <p><button class="btn" onClick="loginUser();">Login</button></p>
 </div>
 <div id="logout">
   <p><button class="btn"  onClick="FB.logout();">Logout</button></p>
 </div>

 <script>
   function loginUser() {    
     FB.login(function(response) { }, {scope:'email'});     
     }
 </script>

<a href="#" onclick="publishStory();">Publish feed story</a><br>
<script>
function publishStory() {
  FB.ui({
    method: 'feed',
    name: 'Match my volunteering hours.',
    caption: 'I just volunteered, match my hours with a donation to my charity.',
    description: 'Donate now and support more people to have the great opportunities I\'ve had',
    link: 'http://www.justgiving.com/donation/direct/charity/2b3480a8?amount=2&reference=damien&exitUrl=http://apps.facebook.com/matchmyhours',
    picture: 'http://www.facebookmobileweb.com/getting-started/img/facebook_icon_large.png'
  }, 
  function(response) {
    console.log('publishStory response: ', response);
  });
  return false;
}
</script>

<a href="#" onclick="sendRequest();">Send request</a><br>
<script>
function sendRequest() {
  FB.ui({
    method: 'apprequests',
    message: 'invites you to match their volunteering hours with a donation',
  }, 
  function(response) {
    console.log('sendRequest response: ', response);
  });
}
</script>

 <style>
  body.connected #login { display: none; }
  body.connected #logout { display: block; }
  body.not_connected #login { display: block; }
      body.not_connected #logout { display: none; }
</style>