<div id="fb-root"></div>
<script>
  // Additional JS functions here
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '134123780068637', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
       // Additional initialization code such as adding Event Listeners goes here
       FB.Event.subscribe('auth.statusChange', handleStatusChange);

    };

   function handleStatusChange(response) {
     document.body.className = response.authResponse ? 'connected' : 'not_connected';

     if (response.authResponse) {
       console.log(response);
     }
   }


    // Load the SDK's source Asynchronously
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>


<h1>Pimp my hours</h1>

 <div id="login">
   <p><button onClick="loginUser();">Login</button></p>
 </div>
 <div id="logout">
   <p><button  onClick="FB.logout();">Logout</button></p>
 </div>

 <script>
   function loginUser() {    
     FB.login(function(response) { }, {scope:'email'});     
     }
 </script>

 <style>
  body.connected #login { display: none; }
  body.connected #logout { display: block; }
  body.not_connected #login { display: block; }
      body.not_connected #logout { display: none; }
</style>