<div id="fb-root"></div>
<script>
  // Additional JS functions here
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '134123780068637', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
       // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>


<h1>Pimp my hours</h1>

 <fb:login-button show-faces="true" width="200" max-rows="1" scope="publish_actions">
  </fb:login-button>